#mc_embed_signup {
  // margin-left: 2rem;
}

#mce-EMAIL {
  border: 1px solid #000;
  font-family: $base-font;
  padding: 0 0.75rem;
  width: 160px;
}

#mc-embedded-subscribe {
  font-family: $base-font;
  background-color: transparent;
  border: 1px solid #000;
  padding: 0 1rem;
  margin-left: 1rem;
}
